.section-intro{
    
    display:flex;
    justify-content:center;
    flex-direction: row;
   
    
}
.section-background{
    background: #1F2833;
    
    

}
.section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    /* background-color: blueviolet; */
    
    
    
    
}

.section-content .email-phone{
    color: whitesmoke;
    padding: 10px;
}
.intro-item__info{
    
    /* background-color: brown; */

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}

.intro-item__info h1 {
    
    font-size: 20px;
    font-weight: lighter;
    color: #66FCF1;
}

.intro-item__info h2{
    font-size: 60px;
    color: #5DF5E1;
}

.intro-item__info h3{
    font-size: 20px;
    max-width: 250px;
    color: #8EE4AF;
    font-weight: 10px;
    opacity: 0.5;
    font-weight: lighter;
}
