.section-about{
    padding-top: 0px;
    
    
   
    
}
.section-background{
    background: #1F2833;
    
    

}


.about-item__info{
    
    /* background-color: brown; */

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 80%;
    
    
    
}

.about-info{
    
    width: 100%;
    
    max-width: calc(100%-60px);
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
   
}

.about-info .info{
    
    font-weight:10px;
    width: 60%;
    color: whitesmoke;
    text-align: start;
}

.about-info .image{
    width: 50%;
    padding: 10px;
    height: 30%;
    

}







.about-item__info h1 {
    font-size: 30px;
    color: #66FCF1;
    font-weight: lighter;
    
}

.about-item__info  h2{
    max-width: 450px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: lighter;
}

.about-item__info h3{
    max-width: 450px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: lighter;
}

.about-item__info h2{
    max-width: 450px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: lighter;
}

.about-item__info h4 {
    max-width: 450px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: lighter;
}
.about-item__info p{
    max-width: 450px;
    font-size: 15px;
    color: whitesmoke;
    font-weight: lighter;
}


@media (max-width: 1090px ){
    .about-info .image{
        display: none;
    }
    .about-item__info{
        padding: 0;
    }

    .about-info .info{
        width: 100%;
        font-size: calc(18px + 10vw);
    }
}


@media (min-width: 1800px){
    
    .about-item__info{
        max-width: 80%;
        padding-left: 200px;
    }    
}