.project-intro-item__info{
    text-align: center;
    
}
.title-style{
    text-align: left;;
    color: #66FCF1;
    padding: 60px;
    font-weight: 7px;

}
.project-intro-item__info{
    max-width: 80%;
    padding-left: 60px;
}
.project-info-1{
    width: 100%;
    
    max-width: calc(100%-60px);
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}




.modalImage img{
    width: 100%;
    padding: 10px;
    height: 70%;
}

.modalText{
    font-size: 10px;
    font-weight:10px;
    width: 50%;
    color: whitesmoke;
    text-align: end;
    
}

.modalText h2 h1 {

    font-weight: lighter;
    font-size: 20px;
    padding: 20px;
}

.modalText h3{
    color: #66FCF1;
    font-weight: lighter;
    font-size: 20px;
    
    text-align: end;

}




.project-info-2{
    width: 100%;
    
    max-width: calc(100%-60px);
    margin: auto;
    display: flex;
    flex-direction: row;
}

.modalImage-2 img{
    width: 80%;
    padding: 10px;
    height: 80%;
}

.modalText-2{
    font-size: 10px;
    font-weight:10px;
    width: 50%;
    color: whitesmoke;
    text-align: end;
    
}

.modalText-2 h2 h1 p{
    
    font-weight: lighter;
    font-size: 20px;
    padding: 20px;
    
}

.modalText-2 h3{
    color: #66FCF1;
    font-weight: lighter;
    font-size: 20px;
}


.project-social-container{
    padding-top: 20px;
    padding-bottom: 20px;
}